In [13]:
import csv
import pandas as pd
import scrapy

In [12]:
companies = []
with open("Forbes-2021.csv", "r", encoding="ISO-8859-1") as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)  # skip header
    for row in csvreader:
        companies.append(row)

In [9]:
pd.read_csv('Forbes-2021.csv', encoding="ISO-8859-1").csv_write

,Rank,Name,Country,Sales,Profit,Assets,Market Value
0,1,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,2,JPMorgan Chase,United States,$136.2 B,$40.4 B,"$3,689.3 B",$464.8 B
2,3,Berkshire Hathaway,United States,$245.5 B,$42.5 B,$873.7 B,$624.4 B
3,4,China Construction Bank,China,$173.5 B,$39.3 B,"$4,301.7 B",$210.4 B
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$229.7 B,$49.3 B,$510.3 B,"$1,897.2 B"
...,...,...,...,...,...,...,...
1995,1996,JTEKT,Japan,$13.1 B,$-34.9 M,$12 B,$3.5 B
1996,1997,Insurance Australia Group,Australia,$5.4 B,$-212 M,$25 B,$9.3 B
1997,1997,Sumec Corporation,China,$13 B,$79.2 M,$7.1 B,$1.3 B
1998,1999,Gold Fields,South Africa,$3.9 B,$718.1 M,$7.5 B,$8.9 B
1999,1999,Paycom,United States,$841 M,$143.4 M,$2.6 B,$24 B

In [23]:
def get_urls():
    companies = []
    with open("Forbes-2021.csv", "r", encoding="ISO-8859-1") as csvfile:
        csvreader = csv.reader(csvfile)
        next(csvreader)  # skip header
        for row in csvreader:
            companies.append(row[1])
    
    url_start = 'https://en.wikipedia.org/w/index.php?search='
    start_urls = [url_start + comp.replace(' ', '+') for comp in  companies]
    return start_urls

In [26]:
qq = get_urls()

In [27]:
qq[:10]

['https://en.wikipedia.org/w/index.php?search=ICBC',
 'https://en.wikipedia.org/w/index.php?search=JPMorgan+Chase',
 'https://en.wikipedia.org/w/index.php?search=Berkshire+Hathaway',
 'https://en.wikipedia.org/w/index.php?search=China+Construction+Bank',
 'https://en.wikipedia.org/w/index.php?search=Saudi+Arabian+Oil+Company+(Saudi+Aramco)',
 'https://en.wikipedia.org/w/index.php?search=Apple',
 'https://en.wikipedia.org/w/index.php?search=Bank+of+America',
 'https://en.wikipedia.org/w/index.php?search=Ping+An+Insurance+Group',
 'https://en.wikipedia.org/w/index.php?search=Agricultural+Bank+of+China',
 'https://en.wikipedia.org/w/index.php?search=Amazon']

In [33]:
import os
os.getcwd()

'/Users/corstiaen/git/logo_gan/logo_scraper'